Repository csiro-fair/marimba: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, bandit, pytest

ruff:
  name: Ruff
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  - --config=config/.ruff.toml

black:
  name: Black
  entry: poetry run black
  language: system
  args:
  - --line-length
  - '120'

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file
  - config/mypy.ini

bandit:
  name: Bandit
  entry: poetry run bandit
  language: system
  args:
  - --config
  - config/bandit.yml
  - --severity-level
  - medium

pytest:
  name: Pytest
  entry: poetry run pytest
  language: system
  args:
  - --confcutdir=config
  - tests

Added documentation to _post_package method
  docs/pipeline.md
  marimba/core/pipeline.py
Due: ruff, black, mypy, bandit, pytest

Added py.typed file to export type information
  marimba/py.typed
Due: none

Migrated project managment from poetry to uv
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fixed path resolution
  marimba/core/utils/manifest.py
Due: ruff, black, mypy, bandit, pytest

Optimize image metadata processing and enhance resource cleanup
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Add tests for validating the presence of py.typed file
  tests/test_py_typed.py
Due: black, mypy, bandit, pytest

Refactor to replace Poetry with UV for dependency management
  docs/contributing.md
  docs/environment.md
  marimba/core/wrappers/pipeline.py
  pyproject.toml
Due: ruff, black, mypy, bandit, pytest

Update documentation and enhance `_post_package` examples
  docs/pipeline.md
  marimba/core/pipeline.py
Due: ruff, black, mypy, bandit, pytest

Fixed PyAv package dependency
  pyproject.toml
Due: none

Add project metadata and improve build configuration
  pyproject.toml
Due: none

Added deptry as pre-commit job
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Removed unused dependencies and explicitly added transitive dependencies
  pyproject.toml
Due: none

Fixed documentation and dependency groups
  docs/contributing.md
  pyproject.toml
Due: none

Added uv as a dependency
  pyproject.toml
Due: none

Added ifdo validator
  marimba/core/validators/__init__.py
  marimba/core/validators/ifdo.py
  pyproject.toml
  resources/schemas/ifdo/annotation-v2.0.0.json
  resources/schemas/ifdo/ifdo-v2.1.0.json
  resources/schemas/ifdo/provenance-v0.1.0.json
Due: ruff, black, mypy, bandit, pytest

Integrated ifdo validator in create dataset metadata method for ifdos
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  marimba/core/validators/__init__.py
  marimba/core/validators/ifdo.py
  marimba/core/wrappers/dataset.py
  tests/core/schemas/test_ifdo.py
  tests/core/validators/__init__.py
  tests/core/validators/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Made ifdo schema available in wheel
  marimba/core/validators/ifdo.py
  marimba/resources/schemas/ifdo/annotation-v2.0.0.json
  marimba/resources/schemas/ifdo/ifdo-v2.1.0.json
  marimba/resources/schemas/ifdo/provenance-v0.1.0.json
Due: ruff, black, mypy, bandit, pytest

Improved injection of the iFDO validator
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Add garbage collection and resource cleanup routines
  marimba/core/schemas/ifdo.py
  marimba/lib/image.py
Due: ruff, black, mypy, bandit, pytest

Filter out empty file types in summary generation
  marimba/core/utils/summary.py
Due: ruff, black, mypy, bandit, pytest

Upgrade to new ifdo-py model - refactor type hints and serialization method usage.
  marimba/core/schemas/ifdo.py
  marimba/lib/image.py
Due: ruff, black, mypy, bandit, pytest

Simplify imports in ifdo schema module
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Modify Deptry in pre-commit and update environment setup
  .pre-commit-config.yaml
  docs/environment.md
Due: none

Update command to specify Python 3.10 in environment setup
  docs/environment.md
Due: none

Update contributing guide with Python version and activation fixes
  docs/contributing.md
Due: none

Update command to include 'dev' group in contributing guide
  docs/contributing.md
Due: none

Replace PipExecutor with UvExecutor for pipeline management
  marimba/core/installer/pip_executor.py
  marimba/core/installer/pipeline_installer.py
  marimba/core/installer/uv_executor.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  marimba/lib/decorators.py
  tests/core/installer/test_pip_executor.py
  tests/core/installer/test_pipeline_installer.py
Due: ruff, black, mypy, bandit, pytest

Refine logging for incomplete iFDO file handling
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Refactor iFDO schema handling for image_set_local_path.
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Refactor iFDO metadata handling for video and single images
  marimba/core/schemas/ifdo.py
  marimba/lib/image.py
  tests/core/schemas/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Update `ifdo` dependency and add tests for `UvExecutor`
  pyproject.toml
  tests/core/installer/test_uv_executor.py
Due: black, mypy, bandit, pytest

Refactor iFDO image metadata processing logic
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Refactor: Replace piexif with PyExifTool for EXIF handling
  marimba/core/schemas/ifdo.py
  marimba/core/utils/dependencies.py
  marimba/core/utils/summary.py
  marimba/core/wrappers/dataset.py
  marimba/lib/exif.py
  marimba/lib/gps.py
  marimba/lib/video.py
  marimba/main.py
  pyproject.toml
  tests/core/utils/test_dataset.py
Due: ruff, black, mypy, bandit, pytest

Refactor image and EXIF processing logic.
  marimba/core/schemas/ifdo.py
  marimba/lib/image.py
Due: ruff, black, mypy, bandit, pytest

Refactor memory management and improve resource handling.
  marimba/core/schemas/ifdo.py
  marimba/lib/decorators.py
Due: ruff, black, mypy, bandit, pytest

Update version to 1.0.1 and adjust ifdo dependency range
  pyproject.toml
Due: none

bugfix: adjust ifdo import
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Added BaseMetadataHeader
  marimba/core/schemas/header/__init__.py
  marimba/core/schemas/header/base.py
  tests/core/schemas/header/__init__.py
  tests/core/schemas/header/test_base.py
Due: ruff, black, mypy, bandit, pytest

Introduced named tuple for package output
  marimba/core/pipeline.py
  marimba/core/schemas/header/base.py
  marimba/core/utils/dataset.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  pyproject.toml
Due: ruff, black, mypy, bandit, pytest

Path conditions:
  ruff: any of: \.py$, but not: ^tests/.*$
  black: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  pytest: any of: \.py$
